<?xml version="1.0" encoding="utf-8" ?>
<c2layout>
    <name>Menu</name>
    <sid>8997245209762054</sid>
    <event-sheet>Logik Menu</event-sheet>
    <size>
        <width>1138</width>
        <height>640</height>
    </size>
    <margins>
        <horizontal>500</horizontal>
        <vertical>500</vertical>
    </margins>
    <unbounded-scrolling>0</unbounded-scrolling>
    <layers>
        <layer name="Background" sid="905755829631079">
            <initially-visible>1</initially-visible>
            <background-color>255,255,255</background-color>
            <transparent>0</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <global>0</global>
            <use-render-cells>0</use-render-cells>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances>
                <instance type="cartoonschoolbuildingwithgreenyardvector" uid="156">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>0</x>
                        <y>-66</y>
                        <z>0</z>
                        <width>1138</width>
                        <height>817</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
            </instances>
            <effects />
        </layer>
        <layer name="Tombol" sid="3291881968951595">
            <initially-visible>1</initially-visible>
            <background-color>255,255,255</background-color>
            <transparent>1</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <global>0</global>
            <use-render-cells>0</use-render-cells>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances>
                <instance type="Play" uid="157">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>568</x>
                        <y>584</y>
                        <z>0</z>
                        <width>215</width>
                        <height>97</height>
                        <depth>0</depth>
                        <hotspotX>0.502325594</hotspotX>
                        <hotspotY>0.50515461</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
            </instances>
            <effects />
        </layer>
        <layer name="Player" sid="6472910010669811">
            <initially-visible>1</initially-visible>
            <background-color>255,255,255</background-color>
            <transparent>1</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <global>0</global>
            <use-render-cells>0</use-render-cells>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances>
                <instance type="Player_stand" uid="158">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <instance-variables>
                        <nyawa>5</nyawa>
                    </instance-variables>
                    <behavior-instances>
                        <behavior-instance type="Platform">
                            <properties>
                                <max-speed>200</max-speed>
                                <acceleration>1500</acceleration>
                                <deceleration>1500</deceleration>
                                <jump-strength>600</jump-strength>
                                <gravity>1500</gravity>
                                <max-fall-speed>1000</max-fall-speed>
                                <double-jump>Disabled</double-jump>
                                <jump-sustain>0</jump-sustain>
                                <default-controls>No</default-controls>
                                <initial-state>Enabled</initial-state>
                            </properties>
                        </behavior-instance>
                        <behavior-instance type="ScrollTo">
                            <properties>
                                <initial-state>Enabled</initial-state>
                            </properties>
                        </behavior-instance>
                        <behavior-instance type="Flash" />
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>368</x>
                        <y>575</y>
                        <z>0</z>
                        <width>135</width>
                        <height>266</height>
                        <depth>0</depth>
                        <hotspotX>0.501872659</hotspotX>
                        <hotspotY>1</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
            </instances>
            <effects />
        </layer>
    </layers>
    <nonworld-instances />
    <effects />
</c2layout>
